<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <h1>ケータイレコメンド</h1>

    <p>あなたの良く使う機能からおすすめのケータイを選出します！</p>



    <div class="choose">

        
        <p>カメラ</p>
        <p>動画</p>
        <p>ゲーム</p>
        <p>ネット</p>


    </div>

    <div class="management">
        <h1>管理登録画面</h1>
    </div>
    
    <a href="/new">新規作成</a>

</body>
</html>