<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phone_list</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    
    <h1>ケータイリスト</h1>
<% test_table.forEach((phone)=>{ %>
    <li>
        <p> <%= phone.text %> </p>
        <form action="/delete/<%= phone.id %>" method="post">
        <input type="submit" value="削除">
        </form>
    </li>

<% }) %>


</body>
</html>