<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phone_list</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!--     
    <% phone_table.forEach(item)=>{%>
        <span><%= item.name %></span>

    } %>

    <form action="/delete/<%= item.id%>" method="post">
        <input type="submit" value="削除">
    </form> -->


</body>
</html>