<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>


<form action="/create" method="POST">

        <input type="file" name="pict" id="">
        <input type="text" name="phoneName" id="">
        <input type="text" name="size" id="">
        <input type="text" name="gaso" id="">
        <input type="text" name="battery" id="">
        <input type="text" name="IPX" id="">
        <input type="text" name="movieSize" id="">
        <input type="text" name="other" id="">


        <!-- この要素で検索をかける -->
        <input type="text" name="Recommend" id="">
        <!--  -->

    <input type="submit" value="登録">


</form>

</body>
</html>